/* added :root color and font variables */
:root {
    --white: #ffffff;
    --ltGray: #d9dcd6;
    --articleBlue: #0072bb;
    --asideBlue: #2589bd;
    --headerBlue: #2a607c;
    --bodyFont: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
    --headerFont: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  /* color variable */
  body {
    background-color: var(--ltGray);
  }
  
  /* color and font variables */
  .header {
    padding: 20px;
    font-family: var(--headerFont);
    background-color: var(--headerBlue);
    color: var(--white);
  }
  
  .header h1 {
    display: inline-block;
    font-size: 48px;
  }
  
  /* color variable */
  .header h1 .seo {
    color: var(--ltGray);
  }
  
  /* changed to nav and used font variable */
  .header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: var(--bodyFont);
    font-size: 20px;
  }
  
  /* changed to nav */
  .header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
  }
  
  /*color variable */
  a {
    color: var(--white);
    text-decoration: none;
  }
  
  p {
    font-size: 16px;
  }
  
  .hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .float-left {
    float: left;
    margin-right: 25px;
  }
  
  .float-right {
    float: right;
    margin-left: 25px;
  }
  
  .content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
  }
  
  /* font and color variables */
  .benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: var(--bodyFont);
    background-color: var(--asideBlue);
  }
  
  /* combined the same styles and added color variable */
  .benefit-lead,
  .benefit-brand,
  .benefit-cost {
    margin-bottom: 32px;
    color: var(--white);
  }
  
  /* combined same styles */
  .benefit-lead h3,
  .benefit-brand h3,
  .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* combined same styles */
  .benefit-lead img,
  .benefit-brand img,
  .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
  }
  
  /* combined the same styles and added font and color variables */
  .search-engine-optimization,
  .online-reputation-management,
  .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: var(--bodyFont);
    background-color: var(--articleBlue);
    color: var(--white);
  }
  
  /* combined same styles */
  .search-engine-optimization img,
  .online-reputation-management img,
  .social-media-marketing img {
    max-height: 200px;
  }
  
  /* combined same styles */
  .search-engine-optimization h2,
  .online-reputation-management h2,
  .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
  }
  
  .footer {
    padding: 30px;
    clear: both;
    font-family: var(--headerFont);
    text-align: center;
  }
  
  /* changed h2 to h4 */
  .footer h4 {
    font-size: 20px;
  }
  